$corDeFundo: #0d0d0d;
$corTextoPrincipal: silver;
$corTextoSecundario: #ffffff;
$corBotaoPrincipal: #c47500;
$corBotaoSecundario: #c47500;
$corBotaoDark: #000;

$cor-destaque: #e65100; 
$cor-dyinglight: #ff6c0a;
$cor-escura: #1d1d1d;